<template name="naomi">
	<div class="container">
	 	<img class="naomi-drawing" src="img/naomi.png" width="800" height="566" alt="Naomi WebSite" usemap="#naomimap"/>
	 	<map name="naomimap">
			<area shape="rect" coords="57,337,248,540" href="https://www.flickr.com/gp/133274945@N03/4z679N" alt="My Drawings">
		  <area shape="rect" coords="278,350,494,539" href="#" alt="My Videos">
		  <area shape="rect" coords="529,365,763,538" href="https://www.etsy.com/uk/shop/NaomisBracelets/sold?ref=shopinfo_sales_leftnav" alt="My Shop">  
		</map>
	</div>
</template>